.MyAccount {
  color: #0A3A4F;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin: 5vh 0;
}

.slide-box {
  background: grey;
  color: white;
  height: 30vh;
  width: 45vw;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1.2em;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.profile-header {
  display: flex;
  align-items: center;
  padding: 5vw;
  margin-top: 5vh;
}

.profile-image {
  width: 35vw;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2vh;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-name {
  color: #0A3A4F;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}

.profile-rank {
  color: #002501;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1vh;
}

.fav-places {
  margin-top: 6vh;
  color: #0A3A4F;
  margin-left: 5vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
}

.img-fav-places {
  width: 90%;
  height: 90%;
  max-height: 90%;
  object-fit: cover;
  border-radius: 10px;
}

.name-fav-places {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5em 0;
  font-weight: bold;
  font-size: 1em;
}

.modal-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 5vw;
  border-radius: 8px;

  width: 90vw;
  max-width: 400px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
  .profile-header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .profile-image {
    margin-bottom: 0;
    margin-right: 2vw;
  }

  .profile-info {
    align-items: flex-start;
    text-align: left;
  }

  .slide-box {
    width: 200px;
    height: 300px;
    font-size: 1.5rem;
  }
}

.modal-content-text{
  color: black;
}