@import 'leaflet/dist/leaflet.css';

.fondo {
    --background: #F0F0E9;
}

.logo-header-home {
    top: 1.3vh;
    right: 3%;
    width: 4.5vh;
    position: absolute;
}

.logo-name-home {
    width: 17vh;
    top: 2vh;
    position: absolute;
    left: 4vw;
}

.div-header {
    top: 6.5vh;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
}

.div-footer {
    top: 861px;
    position: absolute;
    width: 430px;
    height: 3px;
    background-color: black;
}

.panel {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 40vw;
    background: #fff;
    z-index: 1000;
    overflow-y: auto;
}

.button-panel {
    background-color: transparent;
    position: fixed;
    top: 8vh;
    width: 7vw;
    z-index: 1000;
}