@import 'leaflet/dist/leaflet.css';

.fondo {
    --background: #F0F0E9;
}

.logo-header-home {
    top: 1.3vh;
    right: 3%;
    width: 4.5vh;
    position: absolute;
}

.logo-name-home {
    width: 17vh;
    top: 2vh;
    position: absolute;
    left: 5vw;
}

.div-header {
    top: 6.5vh;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
}

.div-footer {
    top: 861px;
    position: absolute;
    width: 430px;
    height: 3px;
    background-color: black;
}