.bck {
    --background: #F0F0E9;
    background-color: var(--background);
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.log {
    height: 5vh;
    width: 12vh;
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.rectangulo {
    width: 70vw;
    max-width: 286px;
    height: 8vh;
    max-height: 64px;
    border-radius: 60px;
    background: #C2CDC1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
}

.welcome {
    text-align: center;
    color: #5A7964;
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 1vh;
}

.name,
.pswd,
.txlog,
.text,
.signUp {
    position: absolute;
    color: #5A7964;
    font-weight: bold;
    font-size: 1.1em;
}


.name {
    top: 26vh;
    left: 10vw;
}

.pswd {
    top: 42vh;
    left: 10vw;
}

.txlog {
    top: 72vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
}

.text {
    top: 85vh;
    left: 10vw;
    font-size: 1.1em;
}

.signUp {
    top: 86.5vh;
    left: 32vh;
    right: 10vw;
    color: #003F5C;
    font-size: 1.1em;
}


#InputNom,
#InputPswd {
    width: 80vw;
    max-width: 355px;
    height: 6vh;
    border-radius: 5px;
    background-color: #DADAC7;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    position: absolute;

    box-sizing: border-box;
}

#InputNom {
    top: 31vh;
}

#InputPswd {
    top: 47vh;
}


.logIn {
    position: absolute;
    top: 63vh;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    max-width: 229px;
    height: 6vh;
    max-height: 48px;
    border-radius: 30px;
    background-color: #003F5C;
    color: #DADAC7;
    font-weight: bold;
    font-size: 1.1em;
    --background: #003F5C;
    --background-activated: #054c6d;
}