.fondo {
    --background: #F0F0E9;
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.log {
    height: 5vh;
    width: 12vh;
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.rectangulo {
    width: 70vw;
    max-width: 286px;
    height: 8vh;
    max-height: 64px;
    border-radius: 60px;
    background: #C2CDC1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
}

.text1 {
    color: #5A7964;
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
}

.name-su,
.mail-su,
.pswd2-su,
.permission-su,
.txsign-su,
.text2-su,
.textLog-su {
    position: absolute;
    color: #5A7964;
    font-weight: bold;
    font-size: 1.1em;
    --track-background-checked: #003F5C;
}


.name-su {
    left: 10vw;
    top: 26vh;
}

.mail-su {
    left: 10vw;
    top: 41vh;
}

.pswd2-su {
    left: 10vw;
    top: 56vh;
}

.txsign-su {
    top: 82vh;
    left: 50%;
    transform: translateX(-50%);
}

.alt-su{
    padding-bottom: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    position: relative;
    top: 87vh;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    flex-direction: row;
    gap: 5vw;
    font-size: 2vh;
}

.text2-su {
    position: relative;
}

.textLog-su {
    position: relative;
    color: #003F5C;
}

#InputNom,
#InputMail,
#InputPswd2 {
    border-radius: 10px;
    width: 80vw;
    max-width: 355px;
    height: 6vh;
    background-color: #DADAC7;
    position: absolute;
    left: 50%;
    color: #000000;
    transform: translateX(-50%);
}

#InputNom .input-wrapper,
#InputMail .input-wrapper,
#InputPswd2 .input-wrapper {
    background-color: #DADAC7 !important;
    color: #000 !important;
}

#InputNom {
    top: 33vh;
}

#InputMail {
    top: 48vh;
}

#InputPswd2 {
    top: 63vh;
}


.SignUp {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    max-width: 229px;
    height: 6vh;
    max-height: 48px;
    border-radius: 10px;
    color: #DADAC7;
    font-weight: bold;
    font-size: 1.1em;
    --background: #003F5C;
    --background-activated: #054c6d;
}

@media (min-width: 768px) {
    .text1 {
        font-size: 2.2em;
    }

    .SignUp {
        font-size: 1.3em;
    }
}