.fondo {
    --background: #F0F0E9;
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.log {
    height: 5vh;
    width: 12vh;
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.rectangulo {
    width: 70vw;
    max-width: 286px;
    height: 8vh;
    max-height: 64px;
    border-radius: 60px;
    background: #C2CDC1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
}

.text1 {
    color: #5A7964;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 1vh;
}

.name,
.mail,
.pswd2,
.permission,
.txsign,
.text2,
.textLog {
    position: absolute;
    left: 10vw;
    color: #5A7964;
    font-weight: bold;
    font-size: 1.1em;
    --track-background-checked: #003F5C;
}


.name {
    top: 28vh;
}

.mail {
    top: 40vh;
}

.pswd2 {
    top: 52vh;
}

.permission {
    top: 66vh;
    font-size: em;
}

.txsign {
    top: 82vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.95em;
}

.text2 {
    top: 90vh;
    left: 12vw;
    font-size: 1.3¿2em;
}

.textLog {
    top: 91.5vh;
    left: 70vw;
    color: #003F5C;
    font-size: 1.2em;
}

#InputNom,
#InputMail,
#InputPswd2 {
    border-radius: 10px;
    width: 80vw;
    max-width: 355px;
    height: 6vh;
    background-color: #DADAC7;
    position: absolute;
    left: 50%;
    color: #000000;
    transform: translateX(-50%);
}

#InputNom .input-wrapper,
#InputMail .input-wrapper,
#InputPswd2 .input-wrapper {
    background-color: #DADAC7 !important;
    color: #000 !important;
}

#InputNom {
    top: 33vh;
}

#InputMail {
    top: 45vh;
}

#InputPswd2 {
    top: 57vh;
}


.SignUp {
    position: absolute;
    top: 72vh;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    max-width: 229px;
    height: 6vh;
    max-height: 48px;
    border-radius: 10px;
    color: #DADAC7;
    font-weight: bold;
    font-size: 1.1em;
    --background: #003F5C;
    --background-activated: #054c6d;
}

@media (min-width: 768px) {
    .text1 {
        font-size: 2.2em;
    }

    .SignUp {
        font-size: 1.3em;
    }
}